/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;
    padding: $magic-number;
    background-color: $footer-background-color;
    color: $footer-text-color;
    align-items: center;
    color: $h-color;
}

.footer a {
    color: $footer-icon;
    text-decoration: none;
}

.footer .social {
    font-size: 2rem;
}

.footer p {
    color: $footer-icon;
}
