.header {
    display: flex;
    justify-content: space-between;
    background-color: $header-color;
    padding: $magic-number;
    flex-direction: row;
    align-items: center;
}

.header {
    border-bottom: solid 3px $header-border-color;
}

.site-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title,
.logo {
    padding: 1em 1em 1em 0;
    text-align: center;
}

.logo {
    padding-top: 3em;
}

.logo img {
    border-radius: 50%;
}

.title p {
    font-style: italic;
    color: #000;
}

.title h1 {
    color: #fff;
    margin: 0;
}

.title a {
    text-decoration: none;
    margin: 0;
    margin-left: $magic-number;
}

.title a:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {
    .title,
    .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        display: none !important;
    }
}
