/* report.scss */
.landingpage {
    display: grid;
    gap: 1em 1em;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.kmom-box a {
    color: $lista-color;
}

.kmom-box {
    //justify-self: center;
    text-align: center;
}

.project {
    grid-column: 2 / 3;
    grid-row: 3 / 3;
}
