$font-color: #fff;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #333;
$background-alternative-color: #e0fbfc;
$footer-background-color: #444;
$footer-text-color: #fff;
$nav-color: #bb86fc;

$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;

$font-body: 'Bebas Neue', cursive;
// $color-text-body: #8a8c91;
$color-text-body: #fff;
$h-color: #bb86fc;
$lista-color: #bb86fc;
$tech-color: #333;
$code-color: #312f2f;
$footer-color: #222;
