{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="technology-start">
        {{ content }}
        <div class="technology lista">
    <ul>
    <li><a href="../technology/css">CSS</a></li>
    <li><a href="../technology/html">HTML</a></li>
    <li><a href="../technology/javascript">Javascript</a></li>
    <li><a href="../technology/php">PHP</a></li>
    <li><a href="../technology/python">Python</a></li>
    <li><a href="../technology/git">GIT</a></li>
    <li><a href="../technology/sqlite">Sqlite</a></li>
    </ul>
    </div>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
